* {

    margin: 0%;
    padding: 0;

}

.container {
    width: 100%;
    height:600px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    
    background-image: url(assets/img/cesped.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &__item {

        &__img {
            width: 40%;
            height: 50%;
            transition: 2s;
            transform: translate(-25deg);
            animation-name: animacion;
            animation-duration: 4s;
             animation-iteration-count: infinite;
             transition-delay: 1s;         
           
            &__img2 {  
               float: right;
               width: 40%;
               height: 40%;
               transition: 4s;
               transform: translate(-25deg);
                animation-name: movimiento;
                animation-duration: 4s;
                animation-iteration-count: infinite;
              
                //transition-property: height;
               transition-duration: 4s;
                 transition-timing-function: ease-in-out;
            }

            &__img2:hover {
                transform: translate(-500px,0px);
            
            }

            &__img2:active {
                transform: translate(-90deg);
            }

            }

            &__img:hover {
                transform: translate(-500px, -60px);
                
            }

            &__img:active {
                transform: translate(-100deg,);
            }
        }

    }

    @keyframes movimiento {
        100%{
            transform:translateX(-500px) rotate(10deg )
            
         }
            }
    

 @keyframes animacion {
             100%{
                transform:translateX(-550px) rotate(10deg)
             }
             
            
            }